{erl_opts, [debug_info]}.
{deps, [
    {cowboy,{git,"git://github.com/ninenines/cowboy.git",{ref,"d08c2ab39d38c181abda279d5c2cadfac33a50c1"}}},
    {jiffy,".*",{git,"git://github.com/davisp/jiffy.git",{branch,"master"}}},
    {couchbeam,".*",{git,"git://github.com/benoitc/couchbeam.git",{branch,"master"}}}
]}.
{pre_hooks,[
    {"(linux|darwin|solaris)", compile,"./jiffy_make"},
    {"(linux|darwin|solaris)", clean,"./jiffy_make clean"}
]}.
{plugins,[rebar3_run,rebar3_auto]}.
{deps_dir,"../../deps"}.

{relx, [{release, { cowboy_demo, "0.1.0" },
         [cowboy_demo,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
